html {
	height: 100%;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background: linear-gradient(
		246deg,
		rgb(156, 158, 63),
		rgb(11, 178, 168),
		rgb(150, 215, 234)
	);
}
#btn {
	width: 20rem;
	height: 5rem;
	font-size: 30px;
	color: white;
	border: none;
	background: transparent;
	border-radius: 10px;
	box-shadow: 0px 0px 50px black;
}
#btn:hover {
	box-shadow: 0px 0px 50px black;

	cursor: pointer;
}
